body {
	background-color: skyblue;
	font-size: 21px;
	font-family: verdana;
	font-weight: bold;
}

h2 {
	text-transform:capitalize;
	text-align-last: justify;
	color: darkred;
}

#top {
	border: 3px solid blue;
	margin:1em 10px;
	width: 25%;
	text-align: center;
}

#bottom {
	border: 4px darkgreen solid;
	width: 10%;
}
